# Árboles de Regresión

In [24]:
import pandas as pd

In [25]:
mainpath = "C:/Users/dguai/Documents/Courses/Machine Learning Data Science en Python/Practicas/Repositorios/Datasets"
data = pd.read_csv(mainpath + "/" + "Boston/boston.csv")

In [26]:
data.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [27]:
data.shape

(506, 14)

In [28]:
colnames = data.columns.values.tolist()
predictors = colnames[:13]
target = colnames[13]
X = data[predictors]
Y = data[target]

In [29]:
from sklearn.tree import DecisionTreeRegressor

In [30]:
regtree = DecisionTreeRegressor(min_samples_split=30, min_samples_leaf=10, max_depth=5, random_state=0)

In [31]:
regtree.fit(X,Y)

DecisionTreeRegressor(max_depth=5, min_samples_leaf=10, min_samples_split=30,
                      random_state=0)

In [32]:
preds = regtree.predict(data[predictors])

In [33]:
data["preds"] = preds

In [34]:
data[["preds", "medv"]]

         preds  medv
0    23.787500  24.0
1    23.787500  21.6
2    35.247826  34.7
3    35.247826  33.4
4    35.247826  36.2
..         ...   ...
501  23.787500  22.4
502  23.787500  20.6
503  28.978261  23.9
504  31.170000  22.0
505  23.787500  11.9

[506 rows x 2 columns]

In [35]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
import numpy as np

In [36]:
cv = KFold(n_splits = 10, shuffle=True, random_state=1)
scores = cv.split(X,Y)
scores
#score = np.mean(scores)
#print(score)

# Random Forest

In [37]:
from sklearn.ensemble import RandomForestRegressor

In [38]:
forest = RandomForestRegressor(n_jobs=2, oob_score=True, n_estimators=10000)
forest.fit(X,Y)

RandomForestRegressor(n_estimators=10000, n_jobs=2, oob_score=True)

In [39]:
data["rforest_pred"]= forest.oob_prediction_
data[["rforest_pred", "medv"]]

     rforest_pred  medv
0       28.457879  24.0
1       22.686463  21.6
2       34.444773  34.7
3       34.722401  33.4
4       34.306819  36.2
..            ...   ...
501     24.245346  22.4
502     18.978669  20.6
503     27.670278  23.9
504     26.153939  22.0
505     20.838626  11.9

[506 rows x 2 columns]

In [40]:
data["rforest_error2"] = (data["rforest_pred"]-data["medv"])**2
sum(data["rforest_error2"])/len(data)

10.244576554783196

In [41]:
forest.oob_score_

0.8786468796894403